.active {
  background-color: #fff;
  color: #ff6b81;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  position: relative;
  z-index: 20;
  top: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav .title {
  font-size: 1.5rem;
  margin: 1rem;
  font-weight: bold;
  text-decoration: none;
  color: #333;
  letter-spacing: 5px;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
  line-height: 0.5em;
  font-family: 'Playfair Display', serif;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
  margin: 1rem;
}

nav ul li a {
  display: block;
  text-decoration: none;
  color: #666;
  font-size: large;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
  transition: all 0.3s ease;
}

nav ul li a:not(.active):hover {
  background-color: #ffb6c1;
  color: #fff;
  border-radius: 0.5rem;
}

.nav-cart {
  background-color: #fff;
  border: 2px solid #ff6b81;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 2px 4px rgba(255, 182, 193, 0.2);
  margin-left: 1rem;
  margin-right: 2rem;
}

.nav-cart:hover {
  background-color: #ff6b81;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(255, 107, 129, 0.3);
}

.nav-cart:hover .material-symbols-outlined {
  color: #fff;
}

.nav-cart .material-symbols-outlined {
  color: #ff6b81;
  font-size: 20px;
  transition: color 0.3s ease;
}

nav .menu {
  position: absolute;
  top: 0.75rem;
  right: 0.5rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 2.25rem;
  height: 2rem;
}

nav .menu span {
  height: 0.4rem;
  width: 100%;
  background-color: #ff6b81;
  border-radius: 0.2rem;
}

@media (max-width: 480px) {
  nav .menu {
    display: flex;
  }

  nav {
    flex-direction: column;
    align-items: start;
  }

  nav ul {
    display: none;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0.25rem;
  }

  nav ul.open {
    display: flex;
  }

  nav ul li {
    width: 100%;
    text-align: center;
  }

  nav ul li a {
    margin: 0.2rem 0.5rem;
  }

  .nav-cart {
    width: 35px;
    height: 35px;
  }
  
  .nav-cart .material-symbols-outlined {
    font-size: 18px;
  }
}
